<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThreeJS Starter</title>
</head>

<body>
    <div class="container">
        <div class="h-100 row align-items-center m">
            <div class="col d-block justify-content-center align-items-center">
                <h1>Feel the terrain</h1>
                <h4>Check it on a desktop for a better experience :p</h4>
                <a class="btn btn-primary" href="https://github.com/paul-obd/3D-p2">go to github repo</a>
            </div>
            <!-- class="btn btn-primary" -->
        </div>

    </div>
    <canvas class="webgl"></canvas>
    <section></section>

</body>

</html>